<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="arguments" class="fitnesseMain.Arguments">
        <property name="port"> <bean class="java.lang.Integer">
        <constructor-arg value="8081" type="int" />
      </bean>
        </property>
    </bean>

</beans>